{% extends 'theme/staff/base.twig' %}

{% block page_title %}Link list{% endblock page_title %}

{% block content_body %}
<h1>Link list</h1>
<h2>Links under: {{ category.TITLE }}</h2>
{% if linkList.count > 0 %}
    <table class="table">
        <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-9">Title</th>
            <th class="col-xs-2">Actions</th>
        </tr>
        {% for link in linkList %}
            <tr>
                <td>{{ link.ID }}</td>
                <td>{{ link.TITLE }}</td>
                <td>
                    <a href="{{ link.getDetailsUrl() }}">Details</a>
                     |
                    <a href="/staff/link/details/{{ link.ID }}">Full details</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No links!</p>
{% endif %}
{% endblock content_body %}