{% extends 'theme/staff/base.twig' %}

{% block page_title %}Category list{% endblock page_title %}

{% block content_body %}

<h1>Category list</h1>
{% if parentCategory %}
    <h2>Categories under: {{ parentCategory.TITLE }}</h2>
{% else %}
    <h2>Top-level categories</h2>
{% endif %}
{% if categoryList.count > 0 %}
    <table class="table">
        <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-9">Title</th>
            <th class="col-xs-2">Actions</th>
        </tr>
        {% for category in categoryList %}
            <tr>
                <td>{{ category.ID }}</td>
                <td>{{ category.TITLE }}</td>
                <td>
                    <a href="/staff/category/list/{{ category.ID }}">
                        Subcategories
                    </a> |
                    <a href="/staff/link/list/{{ category.ID }}">
                        Links
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No categories!</p>
{% endif %}

{% endblock content_body %}